.icon {
  display: none;
}
@media (max-width: 600px) {
  .icon {
    display: block;
    position: absolute;
    color: #D22;
    top: 5px;
    right: 5%;
  }
  #navLinks {
    display: none;
    background-color: #333;
    text-align: center;
    padding: 5% 0;
  }
  #navLinks>a {
    display: block;
  }
}

nav {
  padding: 1.5% 1%;
  background-color: #333;
  margin-bottom: 5%;
  font-weight: 400;
}
#navLinks {
  text-align: right;
}
nav div a {
  display: inline-block;
  padding: 0 3%;
  color: #D22;
}
  nav div a:visited {
  color: #D22;
}
nav div a:hover, nav div a:active {
  color: #fff;
  text-decoration: none;
}
nav div a.active {
  color: gray;
}